/* Containers */
.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
    .container.navigation {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container.intro {
        margin: 4em 12em 4em 16em;
    }



/* Navigation Bar */
#nav {
    background-color:#2a2a2a;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;

    z-index: 10000;
    overflow: auto;
}

    #nav ul {
        margin-bottom: 0;
    }

    #nav li {
        display: inline-block;
        width: auto;
    }

    #nav a {
        position: relative;
        display: block;
        color: #ffffff;
        text-decoration: none;
        outline: 0;
        
        /* EDIT later
        -moz-transition: background-color .2s ease-in-out;
        -webkit-transition: background-color .2s ease-int-out;
        -ms-transition: background-color .2s ease-in-out;
        transition: background-color .2s ease-in-out;
        */

        padding: 0.2em 1em 0.2em 1em;
        margin: 0.6em 0.2em 0.6em 0.2em;
        font-weight: 600;
        border-radius: 8px;
        font-size: 18px;
    }

    #nav a:hover {
        background: #3a3a3a;
    }

    #nav a.active:before {
        content: '';
        display: block;
        position: absolute;
        bottom: -0.6em;
        left: 50%;
        margin-left: -0.75em;
        border-left: solid 0.75 transparent;
        border-right: solid 0.75em transparent;
        border-top: solid 0.6em #2a2a2a;
        background: #4a4a4a;
    }
/**************************************************/

/* Backwrap */
.backwrap {
    background-color: #ffffff;
    background-image: url('documents/texture1.png');
    background-size: 10%;
    background-repeat: repeat;
}
