h1 {
    margin-left: 100px;
    color: #111111;
    font-family: Helvetica;
    text-align: center;
    font-size: 300%;
  }
  
  h2 {
    margin-left: 100px;
    color: #111111;
    font-family: Helvetica;
    font-size: 200%;
  }
  
  h6 {
    margin-left: 120px;
    margin-bottom: 2px;
    padding:0;
    color: #111111;
    font-family: Helvetica;
    font-size: 100%
  }
  
  p {
    margin-left: 100px;
    color: #111111;
    font-family: Helvetica;
    font-size: 100%;
    padding-left: 40px;
  }
  
  p2 {
    margin-left: 100px;
    color: #111111;
    font-family: Helvetica;
    font-size: 100%;
    padding-left: 40px;
  }
  
  
  a:link, a:visited {
    font-family: Helvetica;
    font-size:100%;
    padding-top : 15px;
    padding-bottom : 15px;
    text-decoration: none;
  }
  
  a:hover, a:active {
    color: Teal;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }
  
  div.aboutbox{
    width: 100%;
    padding-top:10px;
    margin-top:10px;
    color: #111111;
    font-family: Helvetica;
    font-size:12px; 
    padding: 0px;
  }
  
  h2.abouttitle{
    width: 100%;
    padding-top:10px;
    margin-top:10px;
    color: #111111;
    font-family: Helvetica;
    padding: 0px;
  }
  
  footer {
    color:azure;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #111111;
  }
  
  .contact {
    background-color: #303030;
      color: #999;
      text-shadow: -1px -1px 0px #181818;
  }
  
  .wrapper {
    background-color: #E0D7C8;
    background-image:url('documents/Textured Background.png');
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  }
      .wrapper.first {
              box-shadow: none;
          }
  
          .wrapper.style1 {
              background-image: none;
              background-color: #fff;
          }
  
          .wrapper.style2 {
              background-color: #fafafa;
              text-shadow: 1px 1px 0px #fff;
          }
  
          .wrapper.style3 {
              background-color: #f4f4f4;
              text-shadow: 1px 1px 0px #fff;
          }
  
          .wrapper.style4 {
              background-color: #303030;
              color: #999;
              text-shadow: -1px -1px 0px #181818;
          }
      
          .wrapper.style4 h1, .wrapper.style4 h2, .wrapper.style4 h3, .wrapper.style4 h4, .wrapper.style4 h5, .wrapper.style4 h6 {
                  color: #fff;
              }
      