/**********************************************************/
/*                         Edited                         */
/**********************************************************/
a.name{
  color:#181818;
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 54px;
  font-weight: 600;
}

a.body{
  color:#181818;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  text-decoration: underline;
}

h1.name{
  color:#181818;
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 54px;
  font-weight: 600;
}

h1.V {
  color: #303030;
  margin-left: 80px;
  margin-bottom: 2px;
  font-family: Helvetica;
  font-size: 36px;
  font-weight: 600;
}

pre.about {
  width: 70%;
  margin-left: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h2.about {
  color:#111111;
  margin-left: 100px;
  font-family: Arial;
  font-size: 48px;
  font-weight: 500;
}

h2.V {
  color: #303030;
  margin-left: 80px;
  margin-bottom: 2px;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 600;
  padding-left:40px;
}


h6.V {
  color: #303030;
  margin-left: 80px;
  margin-bottom: 2px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 500;
  padding-left:40px;
}
.text {
  color:#999;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
}

/*
  .text.head {
    color:#303030;
    font-size: 36px;
    font-weight: 600;
    margin-left: 40px;
    padding-left: 40px;
  }

  .text.heading2 {
    color: #303030;
    margin-left: 40px;
    margin-bottom: 2px;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 600;
    padding-left:40px;
  }
  */
  /*
  nav {
    background-color: #282828;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
    cursor: default;
  }
  */

  .text.topbar {
    /*background-color: #303030;*/
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    
  }

  .text.body {
    font-size: 14px;
    margin-left: 100px;
  }

  .text.about {
    margin-left: 40px;
  }
/**********************************************************/
/**********************************************************/


li {
  float: left;
}
/*
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
*/

div.aboutbox{
  width: 100%;
  padding-top:10px;
  margin-top:10px;
  color: #111111;
  font-family: Helvetica;
  font-size:12px; 
  padding: 0px;
}

h2.abouttitle{
  width: 100%;
  padding-top:10px;
  margin-top:10px;
  color: #111111;
  font-family: Helvetica;
  padding: 0px;
}

footer {
  color:azure;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #111111;
}

.contact {
  background-color: #303030;
	color: #999;
	text-shadow: -1px -1px 0px #181818;
}
