/* About */

.title-name {
    text-align: center;
    margin-top: 1.8em;

    color: #3c3c3c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
    font-weight: 600;
}

/*
#about a {
    color: #404040;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    text-decoration: underline;
}
*/

.text-body{
    text-align: left;
    color: #606060;
    font-family: "Montserrat";
    font-size: 1.6em;
    font-weight: 300;
}

.text-body a {
    color: #3a3a3a;
    font-weight: 500;
    text-decoration: underline;
}

